fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
SQLAlchemy==2.0.34
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.13.2
psycopg[binary,pool]==3.2.1
python-multipart==0.0.9
pandas==2.2.2
openpyxl==3.1.5
pdfplumber==0.11.4
python-dateutil==2.9.0.post0
tzdata==2024.1
orjson==3.10.7
